<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subject">
            <h2><span>Subject</span> {{subject.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Common Sub</span></dt>
                <dd>
                    <span>{{subject.commonSub}}</span>
                </dd>
                <dt><span>Elective Sub</span></dt>
                <dd>
                    <span>{{subject.electiveSub}}</span>
                </dd>
                <dt><span>Periods</span></dt>
                <dd>
                    <div *ngIf="subject.periodsId">
                        <a [routerLink]="['/periods', subject.periodsId, 'view']">{{subject.periodsId}}</a>
                    </div>
                </dd>
                <dt><span>Student</span></dt>
                <dd>
                    <div *ngIf="subject.studentId">
                        <a [routerLink]="['/student', subject.studentId, 'view']">{{subject.studentId}}</a>
                    </div>
                </dd>
                <dt><span>Teacher</span></dt>
                <dd>
                    <div *ngIf="subject.teacherId">
                        <a [routerLink]="['/teacher', subject.teacherId, 'view']">{{subject.teacherId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subject', subject.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
