<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="periods">
            <h2><span>Periods</span> {{periods.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Periods</span></dt>
                <dd>
                    <span>{{periods.periods}}</span>
                </dd>
                <dt><span>Section</span></dt>
                <dd>
                    <div *ngIf="periods.sectionId">
                        <a [routerLink]="['/section', periods.sectionId, 'view']">{{periods.sectionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/periods', periods.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
