<div>
    <h2 id="page-heading">
        <span>Student Attendances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student-attendance" [routerLink]="['/student-attendance/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Student Attendance
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="studentAttendances">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Attendance Date</span></th>
            <th><span>S Name</span></th>
            <th><span>Status</span></th>
            <th><span>Comments</span></th>
            <th><span>Student Year</span></th>
            <th><span>Departments</span></th>
            <th><span>Subject</span></th>
            <th><span>Semester</span></th>
            <th><span>Section</span></th>
            <th><span>Periods</span></th>
            <th><span>Student</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let studentAttendance of studentAttendances ;trackBy: trackId">
                <td><a [routerLink]="['/student-attendance', studentAttendance.id, 'view' ]">{{studentAttendance.id}}</a></td>
                <td>{{studentAttendance.attendanceDate | date:'mediumDate'}}</td>
                <td>{{studentAttendance.sName}}</td>
                <td>{{studentAttendance.status}}</td>
                <td>{{studentAttendance.comments}}</td>
                <td>
                    <div *ngIf="studentAttendance.studentYearId">
                        <a [routerLink]="['../student-year', studentAttendance.studentYearId , 'view' ]" >{{studentAttendance.studentYearId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="studentAttendance.departmentsId">
                        <a [routerLink]="['../departments', studentAttendance.departmentsId , 'view' ]" >{{studentAttendance.departmentsId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="studentAttendance.subjectId">
                        <a [routerLink]="['../subject', studentAttendance.subjectId , 'view' ]" >{{studentAttendance.subjectId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="studentAttendance.semesterId">
                        <a [routerLink]="['../semester', studentAttendance.semesterId , 'view' ]" >{{studentAttendance.semesterId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="studentAttendance.sectionId">
                        <a [routerLink]="['../section', studentAttendance.sectionId , 'view' ]" >{{studentAttendance.sectionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="studentAttendance.periodsId">
                        <a [routerLink]="['../periods', studentAttendance.periodsId , 'view' ]" >{{studentAttendance.periodsId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="studentAttendance.studentId">
                        <a [routerLink]="['../student', studentAttendance.studentId , 'view' ]" >{{studentAttendance.studentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/student-attendance', studentAttendance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student-attendance', studentAttendance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'student-attendance/'+ studentAttendance.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
