<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-semester-heading">Create or edit a Semester</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!semester.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="semester.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sem">Sem</label>
                    <select class="form-control" name="sem" [(ngModel)]="semester.sem" id="field_sem"  required>
                        <option value="SEMI">SEMI</option>
                        <option value="SEMII">SEMII</option>
                    </select>
                    <div [hidden]="!(editForm.controls.sem?.dirty && editForm.controls.sem?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sem?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
