<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="collegeBranches">
            <h2><span>College Branches</span> {{collegeBranches.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Branch Name</span></dt>
                <dd>
                    <span>{{collegeBranches.branchName}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{collegeBranches.description}}</span>
                </dd>
                <dt><span>College Head</span></dt>
                <dd>
                    <span>{{collegeBranches.collegeHead}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/college-branches', collegeBranches.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
